/* elements html */

body {
    background-color: rgb(90, 90, 90);
    color: rgb(24, 24, 24);
    position: relative;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

button:not(.navbar-toggle),
.button {
    padding: 10px;
    box-shadow: -2px 2px 5px 1px rgba(100, 7, 0, 0.685),
        2px -2px 5px 1px rgba(100, 7, 0, 0.685),
        -1px 2px 20px rgba(145, 1, 1, 0.76) inset;
    border: rgb(100, 7, 0) solid 2px;
    color: rgb(236, 253, 0);
    background-color: rgba(255, 35, 35, 0.795);
    text-decoration: none;
}

.button:hover,
button:not(.navbar-toggle):hover {
    background: #1eff00;
    color: rgb(236, 253, 0);
    border: rgb(21, 90, 0) solid 2px;
    box-shadow: 5px 5px 10px rgba(255, 251, 1, 0.678),
        -5px -5px 10px rgba(255, 251, 1, 0.678);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
    text-decoration: none;
}

/* form errors */
.d-block {
    display: block;
    background-color: #ff0000;
    border: 2px solid #3a0000;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

.form-control {
    border-color: #ffee00;
    box-shadow: 0 0 0 0.2rem rgba(170, 228, 9, 0.25);
    background-color: rgba(253, 249, 5, 0.199);
}

/* form focus */
.form-control:focus {
    border-color: #16c93f;
    box-shadow: 0 0 0 0.2rem rgba(9, 228, 60, 0.25);
    background-color: rgba(155, 253, 155, 0.685);
}

/* Tasks style */
.to-do {
    margin: 30px;
    padding: 20px;
    box-shadow: -2px 2px 3px 1px rgba(252, 130, 121, 0.685),
        2px -2px 3px 1px rgba(252, 130, 121, 0.685),
        -8px -8px 20px rgba(145, 1, 1, 0.76) inset,
        8px 8px 20px rgba(145, 1, 1, 0.76) inset;
    border: rgba(53, 0, 0, 1) solid 2px;
    background-color: rgb(255, 35, 35);
    color: #fff;
}

.waiting {
    margin: 30px;
    padding: 20px;
    box-shadow: -2px 2px 3px 1px rgba(173, 252, 121, 0.685),
        2px -2px 3px 1px rgba(173, 252, 121, 0.685),
        -8px -8px 20px rgba(72, 255, 0, 0.76) inset,
        8px 8px 20px rgba(72, 255, 0, 0.76) inset;
    border: rgb(72, 255, 0) solid 2px;
    background-color: rgba(165, 255, 123, 0.562);
}

.paused {
    margin: 30px;
    padding: 20px;
    box-shadow: -2px 2px 3px 1px rgba(236, 255, 62, 0.685),
        2px -2px 3px 1px rgba(236, 255, 62, 0.685),
        -8px -8px 20px rgba(251, 255, 0, 0.76) inset,
        8px 8px 20px rgba(251, 255, 0, 0.76) inset;
    border: rgb(251, 255, 0) solid 2px;
    background-color: rgba(245, 255, 106, 0.5);
}

.late {
    margin: 30px;
    padding: 20px;
    box-shadow: -2px 2px 3px 1px rgba(136, 136, 136, 0.685),
        2px -2px 3px 1px rgba(136, 136, 136, 0.685),
        -8px -8px 20px rgba(65, 65, 65, 0.76) inset,
        8px 8px 20px rgba(65, 65, 65, 0.76) inset;
    border: rgb(0, 0, 0) solid 2px;
    color: #fff;
    background-color: rgba(2, 2, 2, 0.562);
}
