
{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>




<div class="margin padding border-grey">
    <h2>Nouvelle tâche</h2>
    {{ form_start(task_form) }}
    {{ form_widget(task_form) }}
    {{ form_end(task_form) }}
</div>


{% endblock %}
