{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1 class="textshadow-navy margin align-center">Contact</h1>

    <h2 class="align-center">Vous avez une question?</h2>

    <p class="align-center">N'hésitez pas, je vous répondrais aussi rapidement que possible</p>

    {% include '/contact/contactForm.html.twig' %}


{% endblock %}
