{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="margin padding border-grey align-center has-animation animation-ltr" data-delay="10">
    <h1 class="textshadow-navy margin align-center anim-text">Contact</h1>
    <h2 class="align-center">Vous avez une question?</h2>
    <p class="align-center">N'hésitez pas, je vous répondrais aussi rapidement que possible</p>
</div>

{% include '/contact/contactForm.html.twig' %}

{% endblock %}
